.fadeInDown{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  will-change: fadeInDown;
}
@keyframes fadeInDown {
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeIn{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  will-change: transform;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeInUp{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  will-change: fadeInUp;
}
@keyframes fadeInUp {
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

/* button-cards */
.button-ligth{
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  /* text-transform: uppercase; */
  color: rgba(255, 255, 255, 0.9);
  background: #286d68;
  /* letter-spacing: 1px; */
  font-size: 1.25rem;
  transition: 0.5s;
  width: 100%;
}
.button-ligth:hover{
  color: rgba(255, 255, 255, 1);
  background: #1e4b48;
}
.button-ligth span{
  display: block;
  position: absolute;
  background: #ff6016;
}

/* left */
.button-ligth span:nth-child(1){
  left: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.button-ligth:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

/* Button */
.button-ligth span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.button-ligth:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

/* Rigth */
.button-ligth span:nth-child(3){
  right: 0;
  bottom: 0;
  width: 4px;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;

}
.button-ligth:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;

}

/* Top */
.button-ligth span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: 4px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.button-ligth:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;

}
