.fadeInDown{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
  will-change: fadeInDown;
}
@keyframes fadeInDown {
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

.fadeIn{
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  will-change: transform;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeInUp{
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
  will-change: fadeInUp;
}
@keyframes fadeInUp {
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0);
  }
}

/* button-cards */
.button-ligth{
  position: relative;
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  background: #286d68;
  /* letter-spacing: 1px; */
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
  width: 100%;
}
.button-ligth:hover{
  color: rgba(255, 255, 255, 1);
  background: #1e4b48;
}
.button-ligth span{
  display: block;
  position: absolute;
  background: #fff;
}

/* left */
.button-ligth span:nth-child(1){
  left: 0;
  bottom: 0;
  width: .1rem;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
}
.button-ligth:hover span:nth-child(1){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

/* Button */
.button-ligth span:nth-child(2){
  left: 0;
  bottom: 0;
  width: 100%;
  height: .1rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
.button-ligth:hover span:nth-child(2){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
}

/* Rigth */
.button-ligth span:nth-child(3){
  right: 0;
  bottom: 0;
  width: .1rem;
  height: 100%;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  transition-delay: 0.5s;

}
.button-ligth:hover span:nth-child(3){
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s;
  transition-delay: 0.5s;

}

/* Top */
.button-ligth span:nth-child(4){
  left: 0;
  top: 0;
  width: 100%;
  height: .1rem;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}
.button-ligth:hover span:nth-child(4){
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.5s;
  transition-delay: 0.5s;
}



/* slider cards */
.container-slider{
  margin-bottom: 200px !important;
}
.slider{
  position: relative;
  max-width: 100%;
  -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009)
}
.slider .card{
  border-radius: 0;
  position: relative;
  width: 100%;
  height: 490px;
  margin: 0 auto;
  background: #333;
  padding: 60px 40px;
  text-align: center;
  overflow: hidden;
}

.slider .card .layer{
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#286d68, #31be77);
  z-index: 1;
  transition: 0.9s;
}

.slider .card:hover .layer{
  top: 0;
}

/* .swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
} */

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
  min-height: 350px;
  margin: 0 20px;
  background: #fff;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.slider .card .content{
  position: relative;
  z-index: 2;
}

.slider .card .content p{
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.slider .card .content .imgBx{
  /* width: 100px;
  height: 100px; */
  margin: 0 auto;
  /* border-radius: 50%; */
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.2);
}
.slider .card .content .imgBx img{
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.slider .card .content h2{
  font-size: 20px;
  color: #00ffed;
  transition: 0.5s;
}

.slider .card:hover .content h2{
  color: #fff
}


/* pagination */
.pagination{
  justify-content: center;
}
.pagination span{
  margin: 8px 5px;
  padding: 6px;
}
:root {
  --swiper-theme-color: #ffffff;
}